//menu
/*
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: set-text-color($primary-color);
        @include easeOut;
    }

    //rotate into x 
    &.close {
        transform: rotate(180deg);
            
        .btn-line {
            
            &:nth-child(1){
                transform: rotate(45deg) translate(5px, 5px);
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                transform: rotate(-45deg) translate(6.5px,-6.5px);
            }
        }
    }
}*/
//menu-overlay
.menu {
    position: fixed;
    top:0;
    width:100%;
    visibility: hidden;
    
    &.show {
        visibility: visible;
    }
    
    &-nav {
        display: flex;
        padding: 0;
        overflow:hidden;
        margin: .65rem 20vw .65rem;
        
        //border-bottom: 5px solid #fff; 
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;
        
        &.show {
            //slide from top
            transform: translate3d(0,0,0);
        }
    }
 
    .nav-item {
        
        transform: translate3d(600px, 0, 0);
        @include easeOut;
        
        &.show {
            //slide from right
            transform: translate3d(0,0,0);
            
        }
        &.current > a{
            //#A3F4A3
            color: white !important;
            font-style: italic;
            background: linear-gradient(to right, 
     $secondary-color 20%, #80CBFB 20% 40%, $secondary-color 40% 60%, #80CBFB 60% 80%, $secondary-color 80%);
            /*border-top: dashed #006400;
            border-bottom: dashed #006400;*/
            border-radius: 2px;
            
            &:hover {
                color: $secondary-color !important;
                background: linear-gradient(to right, 
     #000 20%, #000 20% 40%, #000 40% 60%, #000 60% 80%, #000 80%);
                
            }
        }
        
        
        .fa-stack{
            transform: scale(1.2) translateX(1px) translateY(-5.5px);
        }    
        .fa-sun{
            transition: opacity 1s, transform 1s;
			transform: rotate(-180deg) scale(.5);
			opacity: 0;
            @include easeOut;
            &:hover {
                color: $secondary-color !important;
                
            }
            
		}
        .fa-moon{
            transition: opacity 1s, transform 1s;
        }
        
        .rotate{
			transform: rotate(180deg) scale(.5);
			opacity: 0;
        }
        
        .unrotate{
			transform: rotate(0deg) scale(1);
			opacity: 1;
        }
        
        
        
    }
    
    .nav-link{
        display: inline-block;
        position: relative;
        font-size: 20px;
        margin-top: 3px;
        margin-bottom: -3px;
        padding: 0 .9rem;
        font-weight: 300;
        color: set-text-color($primary-color);
        text-decoration: none;
        @include easeOut;
        
        &:hover {
            color: $secondary-color !important;
        }
    }
}

//delay each nav item slide by 0.1

@for $x from 1 through 3 {
    .nav-item:nth-child(#{$x}){
        transition-delay: $x * 0.1s;
    }
}
