.menu {
    position: fixed;
    top:0;
    width:100%;
    
    &-nav {
        display: flex;
        padding: 0;
        overflow:hidden;
        margin: .65rem 20vw .65rem;
        list-style: none;

        @include easeOut;

    }
 
    .nav-item {
        font-family: 'Roboto Mono', monospace;
        &.current > a{
            //#A3F4A3
            color: white !important;
            font-style: italic;
            background: linear-gradient(to right, 
     $secondary-color 20%, #80CBFB 20% 40%, $secondary-color 40% 60%, #80CBFB 60% 80%, $secondary-color 80%);
            border-radius: 2px;
            
            &:hover {
                color: $secondary-color !important;
                background: linear-gradient(to right, 
     #000 20%, #000 20% 40%, #000 40% 60%, #000 60% 80%, #000 80%);
                
            }
        }
        
        .fa-stack{
            transform: scale(1.2) translateX(1px) translateY(-5.5px);
        }    
        .fa-sun{
            transition: opacity 1s, transform 1s;
			transform: rotate(-180deg) scale(.5);
			opacity: 0;
            @include easeOut;
            &:hover {
                color: $secondary-color !important;
                
            }
            
		}
        .fa-moon{
            transition: opacity 1s, transform 1s;
        }
        
        .rotate{
			transform: rotate(180deg) scale(.5);
			opacity: 0;
        }
        
        .unrotate{
			transform: rotate(0deg) scale(1);
			opacity: 1;
        }
        
        
    }
    
    .nav-link{
        display: inline-block;
        position: relative;
        font-size: 20px;
        margin-top: 3px;
        margin-bottom: -3px;
        padding: 0 .9rem;
        font-weight: 300;
        color: set-text-color($primary-color);
        text-decoration: none;
        @include easeOut;
        
        &:hover {
            color: $secondary-color !important;
        }
    }
}

//delay each nav item slide by 0.1

//@for $x from 1 through 3 {
//    .nav-item:nth-child(#{$x}){
//        transition-delay: $x * 0.1s;
//    }
//}
