@import '_config';
@import '_menu';
@import '_mobile';

* {
    box-sizing: border-box;
}

html, body {
    @include easeOut;
    background: $primary-color;
    color: set-text-color($primary-color);
    margin: 0;
    height: 100%;
    font-family: Roboto, sans-serif;

}

//heading
h1,
h2,
h3 {
    margin: 0;
    font-weight: 300;
    &.heading {
        font-size: 2.1rem;
    }

}

a { 
    color: set-text-color($primary-color);
    text-decoration: none;
    @include easeOut();
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}


main {
    align-items: center;
    text-align: center;
    padding: 4rem;
    height: 100%;

    .icons {
        transform: scale(.7);
        
            
        .github{ color: #000000 !important;}
        .linkedin{ color: #0e76a8 !important;}
        
        a {
            padding: 0.4rem;
            &:hover {
                color: $secondary-color !important;
            }
            

        }
        
    }
    
    &#home{
        overflow: hidden;
        h1{
            margin-top:0;
        }
    }
}

footer{
    position: sticky;

}

#gameScreen{
    visibility: hidden;
    z-index: 2;
//    border: dotted gold 1px;
}

#stars{
    
    position: absolute;
    display: block;


}
